{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block title %}Dashbord{% endblock title %}
{% block content %}
<div style="min-height: 37.8pc;">
    {% if messages %}
        {% for message in messages %}
            <div {% if message.tags %} id='#msg-alert' class="alert my-3 alert-{{message.tags}} alert-dismissible fade show" {% endif %} role="alert">
                <strong>{{message.tags}}!</strong> <span>{{ message }}</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    {% if blogs %}
        {% include 'imgCart.html' %}
    {% else %}
        <p class='fs-3 text-center mt-5'>You have't post any blog, <a href="{% url 'addblog' %}">post one?</a>.</p>
    {% endif %}
</div> 
{% endblock content %}


