{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}Login{% endblock title %}
{% block content %}
<div class="container" style="min-height: 36.2pc;">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3 flex-column">
   <h3 class="mt-5 text-center">Login</h3>
    <form action="" class='shadow p-5' method="post" novalidate>{% csrf_token %}
        {{form.non_field_errors}}
        {% for field in form %}
            {{field.label_tag}}
            {{field|add_class:'form-control mt-3'}} 
            {{field.errors}} <br>
        {% endfor %}
        <small><a href="{% url 'signup' %}">New here?</a></small> <br>
        <input type="submit" class='btn btn-primary mt-2' value="Login">
        <br>
    </form>
  </div>
 </div>
</div>
{% endblock content %}

